---
# Overwrite Tachyons here. Don't go overboard!
---

// Typekit
.korolev { font-family: "korolev" }
.acumin { font-family: "acumin-pro",sans-serif; }

// More type values
.f-huge { font-size: 5.5em; }
.tracked-med { letter-spacing: .01em; }

// Make em values on .fluid-base child containers fluid
.fluid-base { font-size: 2vw; }

// Clearfix like <div class="cf"></div>
.cf { clear: both; }

// More widths
.w7 { max-width: 18rem; }

// ORGANIZE logo twisty-turny
.char1 { transform: rotate(-10deg); display: inline-block; }
.char2 { transform: rotate(25deg) translate(15%, 35%); display: inline-block; }
.char3 { transform: rotate(-5deg) translate(-15%, 35%); display: inline-block; }
.char4 { transform: rotate(-20deg) translate(-27%, 0); display: inline-block; }
.char5 { transform: rotate(20deg) translate(10%, 40%); display: inline-block; }
.char6 { transform: rotate(-10deg) translate(-30%, 40%); display: inline-block; }
.char7 { transform: rotate(-15deg) translate(-20%, -15%); display: inline-block; }
.char8 { transform: rotate(20deg) translate(0%, 10%); display: inline-block; }

.drag { cursor: move; }
