<footer class="bt bw-1 pa4 pt5 white bg-black tracked-med mt4">
  <img class="w5 db center mb4" src="{{ site.baseurl }}/images/organize-white.svg">
  <p class="mb5 tc lh-copy w7 center">ORGANIZE is a publishing house for the greater good. Along with our team of contributors, we create art to support causes we believe in. Posters, zines, and much more.</p>
  <ul class="list pa0 ma0 mb2 tracked-med tl-ns tc">
    <li class="di pb1 bb b--white mr3"><a class="link white dim" href="">Information</a></li>
    <li class="di pb1 bb b--white mr3"><a class="link white dim" href="">News</a></li>
    <li class="di pb1 bb b--white"><a class="link white dim" href="">Twitter</a></li>
  </ul>
</footer>
