<footer class="tc bt bw-1 pa5 white bg-black tracked-med mt4">
  <img class="w5 db center mb4" src="{{ site.baseurl }}/images/organize-white.svg">
  <p class="mb4 lh-copy w-50 center">ORGANIZE is a publishing house for the greater good. Along with our team of contributors, we create art to support causes we believe in. Posters, zines, and much more.</p>
  <div class="tracked-med tc">
    <ul class="list pl0">
      <li class="di pb1 mh2"><a class="link white dim bb b--white" href="">Information</a></li>
      <li class="di pb1 mh2"><a class="link white dim bb b--white" href="">News</a></li>
      <li class="di pb1 mh2"><a class="link white dim bb b--white" href="">Twitter</a></li>
      <li class="di pb1 mh2"><a class="link white dim bb b--white" href="">Tiny Chime</a></li>
    </ul>
  </div>
</footer>
